<div class="conatiner">
    <div class="card">
        <div class="card-body">
            <h3>Add catageory</h3>

            <form [formGroup]="dataForm" (ngSubmit)="submitForm()">
                <div class="form-group mb-3">
                    <label for="">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group mb-3">
                    <button type="submit" [disabled]="! dataForm.valid" class="btn btn-success">Save</button>
                </div>


                <div class="alert alert-success" *ngIf="successMsg!=''">
                    {{successMsg}}
                </div>
                <div class="alert alert-success" *ngIf="errorMsg!=''">
                    {{errorMsg}}
                </div>
                
 
            </form>
        </div>
    </div>
</div>