<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
        <a routerLink="/products/add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</a>
    </div>



    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data" >
                        <td>{{d.id}}</td>
                        <td>{{d.name}}</td>
                        <td>

                            <span *ngIf="d.quantity != 0 " >{{d.quantity | number}}</span>

                            <span *ngIf="d.quantity == 0 " class="bg-danger text-white badge">out of stock</span>
                        </td>
                        <td>{{d.price | currency}}</td>
                        <td>
                            <a [routerLink]="'/products/edit/'+d.id" class="btn btn-info btn-sm" style="margin-right: 15px;">edit</a>
                            <button (click)="deleteProduct(d.id)" class="btn btn-danger btn-sm">delete</button>
                        </td>
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>