<!--<h1> {{formationName}} </h1>


<h3> Montant  d'achat : {{ amount }} </h3>


<p>
  is raining : {{ isRaining }}
</p>

<p>
  {{ employees }}
</p>

<h3>Employees list</h3>

<hr>

<ul>

  <li   *ngFor="let emp of employees" > 
    
     <h3 style="color: red;"   *ngIf=" emp.year < 2019 "  >   {{emp.fullname}}</h3>
    <h3 style="color: green;"  *ngIf=" emp.year  >= 2019  "  >   {{emp.fullname}}</h3>
  


    <h3 [ngClass]=" ( emp.year < 2019) ? 'old' : 'new'   ">   {{emp.fullname}}</h3>
 


    <p> {{ emp.email }} / {{emp.address}} </p>
  </li> 
</ul>-->


<!--
<p id="para">
  {{ content }}
</p>

<p [innerHTML]="content" ></p>


<img width="250px" [src]="imgSRC" alt="">-->

 
<!--

<p>
  {{  today | date:'medium'  }}
</p>

<p>
  montant : {{ 2850 | currency:'TND' }}
</p>

<p>
  chiffe : {{ 14000000000 | number }}
</p>

<p>
  {{  'hello world' | uppercase  }}
</p>

<p>
  {{  'HELLO WORLD' | lowercase  }}
</p>


<hr>


<p>
  {{ 'tchourabi@gmail.com' | email }}
</p>

<p>
  {{ 'test@yahoo.fr' | email }}
</p>-->


<!--************************************events*************************************-->

                                
<!--<button (click)="btnClick()"    >  {{   click ==0 ? 'click me ' : click+' click(s)'   }} </button>-->

<!--
<p *ngIf="blocTextIsShown">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam tempore provident possimus atque consequuntur mollitia quibusdam facilis nesciunt! Quis quaerat ex aspernatur quod ratione, necessitatibus rerum quisquam minima quas.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, quaerat necessitatibus. Blanditiis soluta eos omnis earum, non quas! Dolores vel maxime in fuga commodi voluptate ratione quas officiis suscipit consequatur!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis esse saepe vitae nam, numquam qui, earum minima quasi quod eos, illum voluptatem? Itaque cupiditate qui accusantium corporis accusamus saepe optio?
</p>

<button (click)="toggleTextBloc()" >{{  blocTextIsShown == true ? 'hide' : 'show'  }}</button>-->


<!--
<input type="text" (keyup)="typing($event)"  placeholder="please type in your message...">
<p *ngIf="isTyping" >
  <small>is typing...</small>
</p>-->

<!--
<div class="feild"   (mousemove)="isMoving($event)"    >
  <div class="ball" [style.top]=" y " [style.left]=" x " >
    test
  </div>
</div>-->


<!--**************************************forms*******************************************-->

<!--
<form [formGroup]="stepper" (ngSubmit)="add()" >
    <div *ngIf="index == 0" >

      <div formGroupName="stepOne" >
        <div>
          <label for="">Fullname  </label><br>
          <input type="text" formControlName="fullname"><br> 
        </div> 
      
        <div>
          <label for="">Email   </label><br>
          <input type="email" formControlName="email"  ><br>
        </div>
      
      
        <div>
          <label for="">Address   </label><br>
          <input type="text" formControlName="address" ><br>
        </div>
      </div>


    </div>

    <div *ngIf="index == 1">
      <div formGroupName="stepTwo" >
        <div>
          <label for="">City </label><br>
          <input type="text" formControlName="city"><br> 
        </div> 
      
        <div>
          <label for="">Code   </label><br>
          <input type="email" formControlName="code"  ><br>
        </div> 
      </div>
    </div>


    <div *ngIf="index == 2">
      <div formGroupName="stepThree" >


        <div>
          <label for="">Username </label><br>
          <input type="text" formControlName="username"><br> 
        </div> 
        
        
        <div>
          <button type="submit" [disabled]="! stepper.valid" >Add</button>
        </div>
      </div>
    </div>



</form>


<button *ngIf="index != 0" (click)="previous()">previous</button> <button (click)="next()" >next</button> 


-->

<div class="bloc">
  <div>
    
<h3>Add employee form    </h3>
<form [formGroup]="formData" (ngSubmit)="addEmployee()" >
  <div>
    <label for="">Fullname  <span class="danger" *ngIf="formData.controls.fullname.valid == false"  >*</span></label><br>
    <input type="text" formControlName="fullname"><br>

    <p>
      <small>this feild is required, and it must be more than 5 chars</small>
    </p>

  </div>



  <div>
    <label for="">Email   </label><br>
    <input type="email" formControlName="email" 
    [ngClass]="  formData.controls.email.valid == true ? 'form-success':'form-danger' " ><br>
  </div>


  <div>
    <label for="">Address <span class="danger" *ngIf="formData.controls.address.valid == false"  >*</span> </label><br>
    <input type="text" formControlName="address" ><br>
  </div>
  
  <div>
    <button type="submit" [disabled]=" ! formData.valid " >Add</button>
  </div>
  


</form>
  </div>
  <div>

    <h3>List of employees:</h3>

    <input type="search" placeholder="Search..."  (keyup)="searchFor($event)" >

    <ul  *ngIf="resultSearch.length == 0">
      <li *ngFor="let e of employees">
        <p> <strong>{{e.fullname}}</strong> <br> <small>{{e.email}} / {{ e.address }}</small> </p>
      </li>
    </ul>

    <ul *ngIf="resultSearch.length != 0">
      <li *ngFor="let e of resultSearch">
        <p> <strong>{{e.fullname}}</strong> <br> <small>{{e.email}} / {{ e.address }}</small> </p>
      </li>
    </ul>

    

  </div>
</div>

 






