<div class="container mt-5">
    <h1>About page</h1>
    
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed id quas repellendus optio autem soluta, quisquam voluptatum perspiciatis officiis, nulla vel quis laboriosam dolor natus deserunt unde at odit deleniti.
    </p>



    <ul class="nav nav-tabs"> 
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about/histoire"  >Histoire</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link"  routerLinkActive="active" routerLink="/about/nos-expertise" >Expertise</a>
        </li> 
      </ul>


    <router-outlet></router-outlet>


</div>

